@charset "UTF-8";
html{
    font-size: 0.5208vw;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    overflow: hidden;
}

body, h1, h2, h3, h4, h5, p, ul{
    margin: 0;
    padding: 0;
    font-family: "Hiragino Sans W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif, "HGGothicE";
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

h2{
    font-size: 6rem;
    font-weight: bold;
}

p{
    font-size: 1.8rem;
}

.pc_only{
    display: block;
}

.sp_only{
    display: none;
}

.pc_flex{
    display: flex;
}

.sp_flex{
    display: none;
}

header{
    position: fixed;
    top: 0;
    width: calc(100% - 12.6rem);
    z-index: 10000;
    padding: 2.38rem 6.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > a{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: all .2s ease-in-out;
}

header > a:hover{
    opacity: .7;
    transition: all .3s ease-in-out;
}

header > a:hover h1{
    text-shadow: none;
    transition: all .3s ease-in-out;
}

header > a img{
    width: 6.253rem;
}

header a h1{
    font-size: 4.5rem;
    color: white;
    margin-left: 2.6rem;
    text-shadow: 0 .3rem .6rem rgba(0, 0, 0, 16%);
    transition: all .2s ease-in-out;
}

header nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70.7rem;
}

header nav ul li{
    text-align: center;
}

header nav ul li a{
    font-size: 2.4rem;
    color: white;
    text-shadow: .3rem .3rem .1rem rgba(0, 0, 0, 16%);
    transition: all .2s ease-in-out;
}

header nav ul li a:hover{
    text-shadow: none;
    transition: all .3s ease-in-out;
}

header nav ul li a small{
    font-size: 1.8rem;
}

/* kv */
#kv{
    height: 100.5rem;
    width: 100%;
    position: relative;
    box-shadow: 3.6rem 0 4.1rem rgba(38, 93, 166, 16%);
}

#kv > div{
    position: absolute;
    content: "";
    top: 30rem;
    left: 32rem;
}

#kv > div h2{
    font-size: 7.2rem;
    color: white;
    line-height: 1;
    border-bottom: .1rem solid #84DF5D;
    padding-bottom: 1.05rem;
    margin-bottom: 2.45rem;
}

#kv > div h2 small{
    font-size: 3.2rem;
}

#kv > div > div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#kv > div > div a{
    color: #919191;
    font-size: 1.8rem;
    transition: all .2s ease-in-out;
}

#kv > div > div a:hover{
    color: white;
    transition: all .3s ease-in-out;
}

#kv > div > div p{
    color: #919191;
}

.footer_link{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_link a{
    width: 50%;
    position: relative;
    height: 38rem;
    overflow: hidden;
}

.footer_link a:hover img{
    transform: scale(1.1);
    transition: all .3s ease-in-out;
}

.footer_link img{
    width: 100%;
    transition: all .2s ease-in-out;
}

.footer_link div{
    position: absolute;
    top: 5.1rem;
    left: 10rem;
}

.footer_link div h2{
    color: white;
    line-height: 1;
}

.footer_link div p{
    color: white;
    font-size: 2.2rem;
    font-weight: bold;
    margin-top: 1.7rem;
    border-bottom: .2rem solid #84DF5D;
    display: inline;
    padding-bottom: .75rem;
}

.separator{
    width: 100%;
    height: 41.3rem;
    background: url("../img/common/separator.jpg")no-repeat center center/cover;
}

.separator div{
    width: 79.16%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.separator div p{
    font-size: 3rem;
    line-height: 2;
    margin-right: 11rem;
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    text-shadow: .3rem .3rem rgba(0, 0, 0, 16%);
    color: #3A3A3A;
}

.separator div img{
    width: 13.88rem;
    filter: drop-shadow(-.5rem .5rem rgba(87, 196, 234, 30%));
}

/* footer */
footer{
    background: #2C2D54;
    padding: 3.42rem 0 1rem;
}

footer .wrap{
    width: 79.15%;
    margin: auto;
}

footer .wrap .top{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 4.15rem;
    margin-bottom: 1.3rem;
    border-bottom: .1rem solid white;
}

footer .wrap .top a{
    width: 51.35rem;
    padding: 2.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: #84DF5D;
    font-size: 3.2rem;
    font-weight: bold;
    transition: all .2s ease-in-out;
}

footer .wrap .top a:hover{
    opacity: .7;
    transition: all .3s ease-in-out;
}

footer .wrap .top a img{
    width: 5.25rem;
    margin-right: 3.22rem;
}

footer .wrap .bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .wrap .bottom .left a{
    font-size: 3.5rem;
    font-weight: normal;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #F3F3F3;
    margin-bottom: 1.05rem;
    transition: all .2s ease-in-out;
}

footer .wrap .bottom .left a:hover{
    opacity: .5;
    transition: all .3s ease-in-out;
}

footer .wrap .bottom .left a img{
    width: 5.98rem;
    margin-right: 1.4rem;
}

footer .wrap .bottom .left p{
    color: #F3F3F3;
    font-size: 1.6rem;
}

footer .wrap .bottom .left .copy{
    font-size: 1.4rem;
    margin-top: 4.6rem;
}

footer .wrap .bottom .right nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4.1rem;
}

footer .wrap .bottom .right nav ul li{
    position: relative;
    margin-left: 8.2rem;
}

footer .wrap .bottom .right nav ul li:first-child{
    margin: 0;
}

footer .wrap .bottom .right nav ul li::before{
    position: absolute;
    content: "";
    width: .1rem;
    height: 2.3rem;
    right: -4.1rem;
    top: 50%;
    transform: translateY(-50%);
    background: #F3F3F3;
}

footer .wrap .bottom .right nav ul li:first-child::after{
    position: absolute;
    content: "";
    width: .1rem;
    height: 2.3rem;
    left: -4.1rem;
    top: 50%;
    transform: translateY(-50%);
    background: #F3F3F3;
}

footer .wrap .bottom .right nav ul li a{
    font-size: 1.8rem;
    color: #F3F3F3;
    transition: all .2s ease-in-out;
}

footer .wrap .bottom .right nav ul li a:hover{
    opacity: .5;
    transition: all .3s ease-in-out;
}

@media screen and (max-width: 1024px){
    header nav ul{
        width: 100rem;
    }
}

@media screen and (max-width: 767px){
    html{
        font-size: 2.667vw;
    }

    h2{
        font-size: 2.8rem;
    }

    p{
        font-size: 1.4rem;
    }

    .pc_only{
        display: none !important;
    }
    
    .sp_only{
        display: block;
    }

    .pc_flex{
        display: none !important;
    }

    .sp_flex{
        display: flex;
    }

    .pc_inline{
        display: none;
    }

    .sp_inline{
        display: inline;
    }

    /* ハンバーガー */
    #hamburger {
        width: 6.6rem;
        height: 5.5rem;
        transition: all 1s ease-out;
        position: relative;
        z-index: 1;
    }

    .inner_line {
        display: block;
        position: absolute;
        right: 50%;
        margin-right: -50%;
        transform: translate(-50%, 50%);
        bottom: 50%;
        width: 50%;
        height: .1rem;
        background: #707070;
        transition: all 1s ease-out;
    }

    #line1 {
        top: 30%;
    }

    #line2 {
        top: 50%;
    }

    #line3 {
        bottom: 30%;
    }

    .in{
        transform: translateX(-100%);
        opacity: 1 !important;
    }

    .line_1,.line_2,.line_3{
        background: #707070;
        z-index: 100;
    }

    .line_1 {
        transform: translate(-1.5rem, 1.05rem) rotate(-45deg);
        top: 0;
    }

    .line_2 {
        opacity: 0;
    }
    
    .line_3 {
        transform: translate(-1.5rem, -1.05rem) rotate(45deg);
        bottom: 0;
    }

    #nav{
        padding: 0;
        position: fixed;
        width: 100%;
        height: 100vh;
        right: -100%;
        top:  0;
        background: url("../img/common/hamburger_bg.jpg")no-repeat center center/cover;
        transition: all .7s ease-in-out;
        z-index: 1;
        opacity: 0;
        overflow-y: scroll;
        box-shadow: inset 0 .3rem .6rem rgba(0, 0, 0, 16%);
    }

    #nav .nav_wrap{
        width: 85.33%;
        margin: auto;
    }

    #nav .nav_wrap .logo{
        margin-top: 1.4rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    #nav .nav_wrap .logo img{
        width: 2.9rem;
    }

    #nav .nav_wrap .logo h1{
        font-size: 2rem;
        color: #707070;
    }

    header nav ul{
        flex-direction: column;
        width: calc(100% - 3.1rem);
        align-items: flex-start;
        margin-top: 3.05rem;
        padding-top: 4.35rem;
        padding-left: 3.1rem;
        border-top: .1rem solid #F3F3F3;
        margin-bottom: 10rem;
    }

    header nav ul li{
        text-align: left;
        margin-bottom: 3.9rem;
        position: relative;
    }

    header nav ul li::before{
        position: absolute;
        content: "";
        height: .1rem;
        width: 2.1rem;
        left: -2.8rem;
        top: 50%;
        transform: translateY(-50%);
        background: #707070;
    }

    header nav ul li a{
        font-size: 1.8rem;
        color: #707070;
        text-shadow: none;
        font-weight: bold;
    }

    #nav .nav_wrap .cta{
        background: #84DF5D;
        color: white;
        font-size: 1.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 26.7rem;
        padding: 1.45rem 0;
        margin-left: 50%;
        transform: translateX(-50%);
        transition: all .2s ease-in-out;
    }

    #nav .nav_wrap .cta:hover{
        opacity: .7;
        transition: all .3s ease-in-out;
    }

    #nav .nav_wrap .cta img{
        width: 2.73rem;
        margin-right: 1.67rem;
    }

    #nav .nav_wrap .sns{
        width: calc(100% - 3.1rem);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 5rem;
        padding-top: 3rem;
        border-top: .1rem solid #F3F3F3;
    }

    #nav .nav_wrap .sns a{
        margin-left: 3rem;
        transition: all .2s ease-in-out;
    }

    #nav .nav_wrap .sns a:hover{
        opacity: .5;
        transition: all .3s ease-in-out;
    }

    /* ヘッダー */
    header{
        padding: 0 0 0 2.5rem;
        width: calc(100% - 2.5rem);
    }

    header > a img{
        width: 3.05rem;
    }

    header a h1{
        font-size: 1.7rem;
        margin-left: .74rem;
        line-height: 1;
    }

    header .header_entry{
        background: #84DF5D;
        padding: 1.5rem 0;
        width: 11rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.8rem;
        font-weight: bold;
        color: white;
    }

    header .header_entry img{
        width: 1.775rem;
        margin-right: 1.13rem;
    }

    /* main */
    #kv{
        height: 75.2rem;
    }

    #kv > div{
        top: 25.3rem;
        left: 2.8rem;
    }

    #kv > div h2{
        font-size: 4rem;
        line-height: 1.3;
        padding-bottom: .55rem;
        margin-bottom: 1.25rem;
        width: min-content;
    }

    #kv > div h2 small{
        font-size: 1.8rem;
    }

    #kv > div > div a{
        font-size: 1.2rem;
    }

    #kv > div > div p{
        font-size: 1.2rem;
    }

    .footer_link{
        flex-direction: column;
        position: relative;
    }

    .footer_link::before{
        position: absolute;
        content: "CONTENT";
        font-size: 1.2rem;
        top: -2rem;
        left: 2.8rem;
        color: #656565;
    }

    .footer_link a{
        width: 100%;
        height: 15rem;
    }

    .footer_link div{
        top: 2.3rem;
        left: 2.8rem;
    }

    .footer_link div h2{
        font-size: 3.2rem;
        margin-bottom: .5rem;
    }

    .footer_link div p{
        font-size: 1.4rem;
        border-bottom: .1rem solid #84DF5D;
    }

    .separator{
        height: 5.4rem;
    }

    /* footer */
    footer{
        padding: 1.82rem 0 1rem;
    }

    footer .wrap{
        width: 71.2%;
        min-width: 267px;;
    }

    footer .wrap .top{
        padding-bottom: 2.92rem;
        margin-bottom: 0;
        border-bottom: none;
    }

    footer .wrap .top a {
        width: 100%;
        padding: 1.45rem 0;
        font-size: 1.4rem;
    }

    footer .wrap .top a img{
        width: 2.73rem;
        margin-right: 1.67rem;
    }

    footer .wrap .bottom{
        flex-direction: column-reverse;
    }

    footer .wrap .bottom .right{
        width: 100%;
        border-top: .1rem solid white;
        border-bottom: .1rem solid white;
    }

    footer .wrap .bottom .right nav ul{
        margin: auto;
        flex-wrap: wrap;
        position: relative;
    }

    footer .wrap .bottom .right nav ul::before{
        position: absolute;
        content: "";
        width: .1rem;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: white;
    }

    footer .wrap .bottom .right nav ul li{
        margin: 0;
        width: 50%;
        text-align: center;
        padding: 1.55rem 0;
    }

    footer .wrap .bottom .right nav ul li::before{
        display: none;
    }

    footer .wrap .bottom .right nav ul li::after{
        display: none;
    }

    footer .wrap .bottom .right nav ul li:first-child, footer .wrap .bottom .right nav ul li:nth-child(2){
        border-bottom: .1rem solid white;
    }

    footer .wrap .bottom .right nav ul li a{
        font-size: 1.4rem;
    }

    footer .wrap .bottom .left{
        margin-top: 2.85rem;
    }

    footer .wrap .bottom .left a{
        font-size: 1.7rem;
        justify-content: center;
    }

    footer .wrap .bottom .left a img{
        width: 3.021rem;
    }

    footer .wrap .bottom .left p{
        font-size: 1.2rem;
        text-align: center;
    }

    footer .wrap .bottom .left .copy{
        font-size: 1.4rem;
        margin-top: 3rem;
    }

    .page_top{
        position: fixed;
        bottom: 5.8rem;
        right: 3.7rem;
        width: 3.4rem;
        height: 3.4rem;
        background: url("../img/common/page_top.svg")no-repeat center center/contain;
        transition: all .2s ease-in-out;
        z-index: 100;
    }

    .page_top:hover{
        opacity: .7;
        transition: all .3s ease-in-out;
    }
}