@charset "UTF-8";

#kv{
    background: url("../img/company/company_kv.jpg")no-repeat center center/cover;
}

/* message */
#message{
    position: relative;
    width: 66.66%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -31.5rem;
    z-index: 10;
    margin-bottom: 12.5rem;
}

#message img{
    width: 100%;
    margin-bottom: 6.4rem;
}

#message .wrap{
    width: 84.37%;
    margin: auto;
}

#message .wrap h3{
    font-size: 2.2rem;
    margin-bottom: 4rem;
    color: #10233D;
}

#message .wrap p{
    font-size: 1.6rem;
    margin-bottom: 2.3rem;
    color: #10233D;
}

#message .wrap div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#message .wrap div p span{
    font-weight: bold;
}

/* detail */
#detail{
    width: 80rem;
    margin: auto;
    margin-bottom: 9rem;
}

#detail div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 3.2rem;
    margin-bottom: 3.2rem;
    border-bottom: .1rem solid #F3F3F3;
}

#detail div:first-child{
    padding-top: 3.2rem;
    border-top: .1rem solid #F3F3F3;
}

#detail div h4{
    width: 36.25%;
    font-size: 1.6rem;
    color: #10233D;
}

#detail div p{
    font-size: 1.6rem;
    color: #10233D;
}

.map_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12rem;
}

.map{
    width: 66.67%;
    height: 40rem;
}

@media screen and (max-width: 767px){
    #kv{
        background: url("../img/company/company_kv_sp.jpg")no-repeat center center/cover;
    }

    #message{
        width: 85.33%;
        min-width: 320px;
        margin-top: -23rem;
        margin-bottom: 4.2rem;
    }

    #message img{
        margin-bottom: 3.3rem;
    }

    #message .wrap{
        width: 100%;
    }

    #message .wrap h3{
        font-size: 1.8rem;
        width: 21.2rem;
        margin: auto;
        text-align: center;
        margin-bottom: 2.9rem;
    }

    #message .wrap p{
        font-size: 1.4rem;
        margin-bottom: 2.2rem;
    }

    #message .wrap div p span{
        font-size: 1.6rem;
    }

    /* detail */
    #detail{
        width: 85.33%;
        min-width: 320px;
        margin-bottom: 2.5rem;
    }

    #detail div{
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 1.75rem;
        margin-bottom: 1.65rem;
    }

    #detail div:first-child{
        padding-top: 1.65rem;
    }

    #detail div h4{
        font-size: 1.4rem;
    }

    #detail div p{
        font-size: 1.4rem;
    }

    .map_wrap{
        margin-bottom: 4.8rem;
    }

    .map{
        width: 100%;
        height: 25rem;
    }
}