@charset "UTF-8";
h2,h3,h4,p{
    color: #10233D;
}

#kv{
    background: url("../img/contact/contact_kv.jpg")no-repeat center center/cover;
    height: 87.5rem;
}

#title{
    margin: 10.6rem 0 10.3rem;
    text-align: center;
}

#title h3{
    font-size: 3.2rem;
    margin-bottom: 7.3rem;
}

#title p{
    font-size: 1.6rem;
}

#title p:nth-child(3){
    color: #FF0202;
}

#title p+p{
    margin-top: 2.1rem;
}

#form{
    width: 56.25%;
    margin: auto;
    margin-bottom: 12rem;
}

#form h4{
    font-size: 2.2rem;
    margin: 6.4rem 0 3.2rem;
}

#form h4:first-child{
    margin-top: 0;
}

#form .content{
    padding: 3rem ;
    width: calc(100% - 6rem);
    background: #F3F3F3;
    margin-bottom: .5rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

#form .content > p, #form .content > label{
    width: 30rem;
    font-size: 1.4rem;
    font-weight: bold;
}

#form .content span{
    background: #DB0000;
    color: white;
    padding: .4rem .8rem;
    font-size: 1.2rem;
}

#form .content .select{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#form .content .select label{
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form .content .select input{
    width: auto;
}

#form .content textarea{
    width: 100%;
    height: 27.2rem;
    margin-bottom: 1.8rem;
    border: none;
    border-radius: 0;
}

#form .content p{
    font-size: 1.4rem;
}

#form .content:nth-child(3) > div{
    width: calc(100% - 30rem);
}

#form .content:nth-child(7) > div, #form .content:nth-child(8) > div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: calc(100% - 30rem);
}

#form .content > div input{
    width: 100%;
}

#form .content > input{
    width: calc(100% - 30rem);
}

input{
    height: 4rem;
    border: none;
    border-radius: 0;
    padding: 0;
}

.btn_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
}

.btn_wrap button{
    width: 42.4rem;
    border: none;
    background: #10233D;
    color: white;
    padding: 2rem 0;
    font-size: 1.4rem;
    border-radius: 2.7rem;
    transition: all .2s ease-in-out;
}

.btn_wrap button:hover{
    background: #0B6193;
    transition: all .3s ease-in-out;
}

@media screen and (max-width: 767px){
    #kv{
        background: url("../img/contact/contact_kv_sp.jpg")no-repeat center top/cover;
        height: 64.2rem;
    }

    #title{
        margin: 3.3rem auto 3.7rem;
        width: 85.33%;
        min-width: 320px;
    }

    #title h3{
        font-size: 1.8rem;
        margin-bottom: 2.4rem;
    }

    #title p{
        font-size: 1.4rem;
        text-align: left;
    }

    #title p+p{
        margin-top: 1.4rem;
    }

    #form{
        width: 85.33%;
        min-width: 320px;
        margin-bottom: 7.8rem;
    }

    #form h4{
        font-size: 1.8rem;
        margin: 3.3rem 0 1.4rem;
    }

    #form .content{
        flex-direction: column;
        padding: 0;
        width: 100%;
        background: none;
        border-left: .1rem solid #F3F3F3;
        border-right: .1rem solid #F3F3F3;
        margin-bottom: 0;
    }

    #form .content:nth-child(3), #form .content:nth-child(11){
        border-bottom: .1rem solid #F3F3F3;
    }

    #form .content label{
        font-size: 1.2rem;
    }

    #form .content p, #form .content > label{
        font-size: 1.2rem;
        padding: 1rem 0 1rem 2rem;
        background: #F3F3F3;
    }

    #form .content .select{
        padding-left: 2rem;
    }

    #form .content .select label{
        font-size: 1.2rem;
    }

    #form .content:nth-child(3) > div{
        width: 100%;
        padding-bottom: 3.4rem;
    }

    #form .content textarea{
        width: 87.5%;
        height: 20rem;
        margin: 2rem auto;
        margin-left: 50%;
        transform: translateX(-50%);
        border: .1rem solid #F3F3F3;
    }

    #form .content:nth-child(3) > div p{
        background: none;
        padding: 0;
        width: 87.5%;
        margin: auto;
    }

    input{
        height: 3.5rem;
        border: .1rem solid #F3F3F3;
    }

    #form .content > input{
        width: 87.5%;
        margin: 2rem auto;
    }

    #form .content:nth-child(7) > div, #form .content:nth-child(8) > div{
        width: 87.5%;
        margin: 2rem auto;
    }

    .btn_wrap{
        margin-top: 4rem;
    }

    .btn_wrap button{
        font-size: 1.2rem;
        width: 28rem;
        padding: 1.1rem 0;
    }
}