@charset "UTF-8";

#mv{
    background: url("../img/top/mv_bg.jpg")no-repeat center center/cover;
    position: relative;
}

#mv .mv{
    position: relative;
    height: 100.5rem;
}

#mv .mv h2{
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    font-size: 4.8rem;
    font-weight: normal;
    color: #0B6193;
    line-height: 3;
    position: absolute;
    top: 18rem;
    left: 27.2rem;
}

#mv .mv h2 span{
    background: #0B6193;
    color: white;
    padding: 2rem 1.4rem;
}

#mv .mv .content{
    position: absolute;
    bottom: -6rem;
    right: 12rem;
    width: 94.9rem;
    height: 94.9rem;
    border-radius: 50rem;
    background: linear-gradient(to bottom, #FFFFFF, #F2F2F2);
}

#mv .mv .content img{
    width: 100rem;
    margin-top: 5rem;
    transform: translateX(-5rem);
    filter: drop-shadow(2.5rem 2.5rem .2rem #70D8F0);
}

#mv .mv .content p{
    position: absolute;
    font-size: 9.2rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -30%);
    width: fit-content;
    text-align: center;
    mix-blend-mode: color-burn;
    color: #0B6193;
}

#mv .mv .scroll{
    position: absolute;
    bottom: 15.6rem;
    left: 10.35rem;
    color: #707070;
    font-size: 2.4rem;
    transition: all .2s ease-in-out;
}

#mv .mv .scroll:hover{
    opacity: .5;
    transition: all .3s ease-in-out;
}

#mv .mv .scroll:hover::before{
    opacity: .5;
    transition: all .3s ease-in-out;
}


#mv .mv .scroll::before{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -13.5rem;
    transform: translateX(-50%);
    width: .1rem;
    height: 11.6rem;
    background: #707070;
    transition: all .2s ease-in-out;
}

#mv .mv .entry{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 0;
    width: 40.916rem;
    height: 8.275rem;
    filter: drop-shadow(-.5rem -.6rem .6rem rgba(0, 0, 0, 16%));
    background: url("../img/top/top_entry_bg.svg")no-repeat center center/contain;
    transition: all .2s ease-in-out;
}

#mv .mv .entry:hover{
    opacity: .7;
    filter: none;
    transition: all .3s ease-in-out;
}

#mv .mv .entry p{
    position: relative;
    font-size: 3.2rem;
    font-weight: bold;
    color: white;
    margin-left: 5rem;
}

#mv .mv .entry p::before{
    position: absolute;
    content: "";
    width: 3.714rem;
    height: 4.245rem;
    top: 50%;
    left: -6rem;
    transform: translateY(-50%);
    background: url("../img/top/document.svg")no-repeat center center/contain;
}

#mv .mv .entry p::after{
    position: absolute;
    content: "";
    width: 6.123rem;
    height: .668rem;
    top: 50%;
    right: -7.5rem;
    transform: translateY(-50%);
    background: url("../img/top/entry_arrow.svg")no-repeat center center/contain;
}

/* solutino */
#mv .solution{
    margin: 14.3rem 0 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#mv .solution h2{
    color: #10233D;
    position: relative;
    margin-bottom: 3.6rem;
}

#mv .solution h2::before{
    content: "";
    position: absolute;
    width: 5.9rem;
    height: .5rem;
    top: -4.1rem;
    left: 50%;
    transform: translateX(-50%);
    background: #84DF5D;
}

#mv .solution p{
    text-align: center;
    line-height: 2;
    margin-bottom: 4.45rem;
}

#mv .solution img{
    width: 27.201rem;
}

/* company */
#company{
    width: 66.7%;
    margin: auto;
    background: url("../img/top/company_bg.jpg")no-repeat center center/cover;
    color: white;
    padding: 6rem 0 6.4rem;
    margin-bottom: 15rem;
}

#company .wrap{
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

#company .wrap h2{
    margin-left: 49%;
    font-size: 3.2rem;
    position: relative;
    margin-bottom: 3rem;
}

#company .wrap h2 small{
    font-size: 1.6rem;
}

#company .wrap h2::before{
    content: "";
    position: absolute;
    width: 20.454rem;
    height: .1rem;
    top: 55%;
    left: 0;
    transform: translateY(-50%);
    background: white;
}

#company .wrap p{
    line-height: 2;
    margin-left: 49%;
    margin-bottom: 10.4rem;
}

.more{
    background: #0B6193;
    display: block;
    color: white;
    font-size: 1.8rem;
    width: 29.4rem;
    padding: 2.5rem 0;
    text-align: center;
    transition: all .2s ease-in-out;
}

.more:hover{
    background: #3994C9;
    transition: all .3s ease-in-out;
}

#company .more{
    margin-left: 73%;
}

/* about */
#about{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 15.1rem;
}

#about .left{
    background: url("../img/top/about_img_bg.jpg")no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#about .left img{
    mix-blend-mode: overlay;
    width: 31.782rem;
}

#about .right{
    padding: 11.3rem 10rem 9.3rem 10rem;
    width: calc(50% - 20rem);
    background: #F6F6F6;
}

#about .right h2{
    font-size: 6rem;
    color: #484848;
    margin-bottom: 11.8rem;
}

#about .right h3{
    font-size: 3.2rem;
    margin-bottom: 4.3rem;
    color: #484848;
    line-height: 2;
}

#about .right p{
    color: #484848;
    line-height: 2;
    margin-bottom: 14.4rem;
}

#about .more{
    margin-left: 47rem;
}

/* works */
#works{
    margin-bottom: 10rem;
}

#works h2{
    margin-bottom: 7.4rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#works h2::before{
    content: "";
    position: absolute;
    width: 5.9rem;
    height: .5rem;
    top: -4.1rem;
    left: 50%;
    transform: translateX(-50%);
    background: #84DF5D;
}

#works .wrap{
    background: #F6F6F6;
    width: 86%;
    margin: auto;
    padding: 12.2rem 0 5.5rem;
    display: flex;
    justify-content: center;
    align-items: unset;
    flex-direction: column;
    overflow: visible;
}

#works .wrap p{
    margin-bottom: 11rem;
    text-align: center;
}

#works .wrap .slider{
    z-index: 10;
    overflow: visible;
    width: 100vw;
    transform: translateX(-7%);
}

#works .wrap .slide{
    background: white;
    margin: 0 5rem 1.5rem;
    transform: translateX(50rem);
}

#works .wrap .slide img{
    width: 80rem;
    margin: auto;
}

#works .wrap .slide p{
    font-size: 1.8rem;
    margin-bottom: 1.8rem;
}

#works .wrap .more{
    margin-left: 50%;
    margin-top: 2rem;
    transform: translateX(-47%);
}

@media screen and (max-width: 767px){
    #mv .mv{
        height: 75.3rem;
    }

    #mv .mv h2{
        font-size: 2.4rem;
        color: #0B6193;
        line-height: 2.5;
        letter-spacing: 1.5rem;
        position: absolute;
        top: 8.4rem;
        left: 3.5rem;
    }

    #mv .mv h2 span{
        padding: 1.8rem .7rem;
        margin-bottom: .5rem;
    }

    #mv .mv .content{
        background: none;
        bottom: 7rem;
        right: unset;
        left: 2rem;
        width: 37.1rem;
        height: 43rem;
        border-radius: 0;
    }

    #mv .mv .content img{
        width: 100%;
        margin: 0;
        transform: none;
    }

    #mv .mv .content p{
        font-size: 2.8rem;
        text-align: left;
        top: unset;
        bottom: 6.6rem;
        transform: translate(-50%, 0);
    }

    #mv .mv .scroll{
        font-size: 1.2rem;
        bottom: 3.2rem;
        left: 50%;
        transform: translateX(-50%);
    }

    #mv .mv .scroll::before{
        height: 5.3rem;
        bottom: -6rem;
    }

    /* solutino */
    #mv .solution{
        margin: 6.4rem 0 8rem;
    }

    #mv .solution h2{
        margin-bottom: 1.4rem;
    }

    #mv .solution h2::before{
        width: 2.837rem;
        height: .24rem;
        top: -1.45rem;
    }

    #mv .solution p{
        margin-bottom: 2.45rem;
    }

    #mv .solution img{
        width: 22.3rem;
    }

    /* company */
    #company{
        width: 100%;
        padding: 0;
        background: none;
        margin-bottom: 4.6rem;
    }

    #company .wrap{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    #company .wrap h2{
        background: url("../img/top/company_bg.jpg")no-repeat center center/cover;
        margin: 0;
        width: calc(100% - 17.5rem);
        padding: 3.4rem 0 4.9rem 17.5rem;
        font-size: 2.4rem;
        line-height: 1.3;
        margin-bottom: 2.6rem;
    }

    #company .wrap h2 small{
        font-size: 1.2rem;
    }

    #company .wrap h2::before {
        content: "";
        position: absolute;
        width: 15.6rem;
        height: 0.1rem;
        top: 50%;
        left: 17.5rem;
        transform: translateY(-50%);
        background: white;
    }

    #company .wrap p{
        color: #484848;
        margin: auto;
        width: 71.2%;
        min-width: 267px;
        text-align: center;
        margin-bottom: 2.7rem;
    }

    .more {
        color: white;
        font-size: 1.2rem;
        width: 71.2%;
        min-width: 267px;
        padding: 1.9rem 0;
        text-align: center;
        transition: all .2s ease-in-out;
    }

    #company .more{
        margin: auto;
    }

    /* about */
    #about{
        flex-direction: column;
        margin-bottom: 7.1rem;
    }

    #about .left{
        width: 100%;
        padding: 5.07rem 0;
    }

    #about .left img{
        width: 15.888rem;
    }

    #about .right{
        width: 100%;
        padding: 2.7rem 0 3rem;
    }

    #about .right h2{
        font-size: 2.4rem;
        text-align: center;
        margin-bottom: 1.8rem;
    }

    #about .right h3{
        font-size: 1.8rem;
        text-align: center;
        margin-bottom: 3.2rem;
    }

    #about .right p{
        width: 71.2%;
        min-width: 267px;
        margin: auto;
        text-align: center;
        margin-bottom: 2.4rem;
    }

    #about .more{
        margin: auto;
    }

    /* works */
    #works{
        margin-bottom: 3rem;
    }

    #works h2{
        margin-bottom: 2.1rem;
    }

    #works h2::before{
        width: 2.837rem;
        height: .24rem;
        top: -1.45rem;
    }

    #works .wrap{
        padding: 2.3rem 0 3rem;
        width: 100%;
    }

    #works .wrap p{
        width: 71.2%;
        min-width: 267px;
        margin: auto;
        margin-bottom: 1.9rem;
    }

    #works .wrap .slider{
        z-index: 10;
        overflow: hidden;
        width: 100%;
        transform: translateX(0);
    }
    
    #works .wrap .slide{
        background: white;
        margin: 0 auto 1.5rem;
        transform: translateX(0);
    }
    
    #works .wrap .slide img{
        width: 37.5rem;
        margin: auto;
    }
    
    #works .wrap .slide p{
        font-size: 1rem;
        margin-bottom: 1.8rem;
    }

    #works .wrap .more{
        margin: auto;
        margin-top: 0;
        transform: translateX(0);
    }

    .slick-dots{
        position: initial;
    }
}