@charset "UTF-8";
h2,h3,h4,p{
    color: #163C6F;
}

#kv{
    background: url("../img/works/works_kv.jpg")no-repeat center center/cover;
}

#kv::before{
    position: absolute;
    content: "";
    width: 67.5rem;
    height: 66.6rem;
    right: 15.2rem;
    bottom: -18rem;
    background: url("../img/works/works_before.png")no-repeat center center/contain;
    z-index: 10;
}

#kv .txt{
    top: unset;
    bottom: 10.8rem;
}

#kv .txt h3{
    font-size: 3.2rem;
    margin-bottom: 5.2rem;
    line-height: 1;
    color: white;
}

#kv .txt p{
    font-size: 2.4rem;
    font-weight: bold;
    color: white;
}

/* wrap */
#wrap{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 56.25%;
    margin: 15rem auto 10.9rem;
}

#wrap .content{
    position: relative;
    width: 40.74%;
    margin-bottom: 35.21rem;
}

#wrap .content:nth-child(even){
    margin-right: 6rem;
    transform: translateY(11.1rem);
}

#wrap .content img{
    width: 100%;
}

#wrap .content .txt{
    position: absolute;
    top: 19.5rem;
    left: 5rem;
    background: white;
    box-shadow: .1rem .1rem .3rem rgba(0, 0, 0, 16%);
    padding: 3.1rem 4.3rem;
    width: calc(100% - 8.6rem);
}

#wrap .content .txt h4{
    font-size: 1.6rem;
    text-shadow: .1rem .1rem .3rem rgba(0, 0, 0, 16%);
    margin-bottom: 2.1rem;
}

#wrap .content .txt h4 small{
    color: #F3F3F3;
    font-size: 1.4rem;
    text-shadow: none;
}

#wrap .content .txt p{
    font-size: 1.4rem;
}

#wrap .content .txt p+p{
    margin-top: 1.5rem;
}

#wrap .content::before{
    position: absolute;
    font-family: "Hiragino Sans W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif, "HGGothicE";
    font-size: 6rem;
    font-weight: bold;
    color: #163C6F;
    top: -4rem;
    left: 1rem;
}

#wrap .content:first-child::before{
    content: "01";
}

#wrap .content:nth-child(2)::before{
    content: "02";
}

#wrap .content:nth-child(3)::before{
    content: "03";
}

#wrap .content:nth-child(4)::before{
    content: "04";
}

#wrap .content:nth-child(5)::before{
    content: "05";
}

#wrap .content:nth-child(6)::before{
    content: "06";
}

@media screen and (max-width: 1024px){
    #wrap{
        width: 70%;
    }

    #wrap .content{
        width: 43%;
        margin-bottom: 43rem;
    }

    #wrap .content .txt{
        top: 25.5rem;
    }
}

@media screen and (max-width: 767px){
    #kv{
        background: url("../img/works/works_kv_sp.jpg")no-repeat center center/cover;
    }

    #kv::before {
        width: 27.6rem;
        height: 27.2rem;
        right: .8rem;
        bottom: -5.8rem;
        background: url(../img/works/works_before.png)no-repeat center center/contain;
        z-index: 10;
    }

    #kv .txt{
        bottom: 3rem;
        z-index: 20;
    }

    #kv .txt h3{
        font-size: 2.4rem;
        margin-bottom: 3.2rem;
    }

    #kv .txt p{
        font-size: 1.4rem;
    }

    #wrap {
        width: 85.33%;
        min-width: 320px;
        margin: 8.4rem auto 1rem;
    }

    #wrap .content{
        width: 34.7rem;
        margin-bottom: 29.2rem;
    }

    #wrap .content:nth-child(odd){
        transform: translateX(-2.8rem);
    }

    #wrap .content:nth-child(even){
        transform: translateX(.7rem);
    }

    #wrap .content img{
        width: 34.7rem;
    }

    #wrap .content .txt{
        top: 16rem;
        left: 2.8rem;
        padding: 3.3rem 2.8rem;
        width: calc(100% - 5.6rem);
    }

    #wrap .content:nth-child(even) .txt{
        left: -3.4rem;
    }

    #wrap .content .txt h4{
        font-size: 1.35rem;
    }

    #wrap .content .txt h4 small{
        font-size: 1.2rem;
    }

    #wrap .content::before{
        font-size: 3.2rem;
        top: -2.5rem;
        left: 2.8rem;
    }

    #wrap .content .txt p{
        font-size: 1.2rem;
        line-height: 1.8;
    }

    #wrap .content .txt p+p{
        margin-top: 1.2rem;
    }
}